<div class="col-6 skskillContenedorill d-flex justify-content-center" id="contenedorSkill">
  <app-icono-skill tooltip="My Sql" capacidad="60" nombre="mySql"></app-icono-skill>
  <app-icono-skill tooltip="Node JS" capacidad="70" nombre="node"></app-icono-skill>
  <app-icono-skill tooltip="Spring" capacidad="60" nombre="spring"></app-icono-skill>
  <app-icono-skill tooltip="SQL Server" capacidad="50" nombre="sqlServer"></app-icono-skill>
  <app-icono-skill tooltip="TypeScript" capacidad="80" nombre="ts"></app-icono-skill>
  <app-icono-skill tooltip="Angular" capacidad="70" nombre="angular"></app-icono-skill>
  <app-icono-skill tooltip="Java" capacidad="60" nombre="java"></app-icono-skill>
  <app-icono-skill tooltip="JavaScript" capacidad="80" nombre="js"></app-icono-skill>
</div>