<article class="min-width-articles">
  <app-panel-difuminado [isBordeAbajo]="false"></app-panel-difuminado>
  <section>
    <h1>Certificaciones</h1>
    <div class="certificaciones">
      <app-certificaciones [url]="wbURLEnum.CERTIFICACION_BASES_GITYGITHUB" [habilidad]="[tg.GIT, tg.GITHUB]" nombre="Bases de Git y Github" certificado="git_y_github_17-12-2023.jpg"></app-certificaciones>
      <app-certificaciones [url]="wbURLEnum.CERTIFICACION_INICIAL_ANGULAR" [habilidad]="[tg.ANGULAR]" nombre="Angular Inicial" certificado="certificacion_angular_inicial.jpg"></app-certificaciones>
      <app-certificaciones [url]="wbURLEnum.CERTIFICACION_INICIAL_TYPESCRIPT" [habilidad]="[tg.TYPESCRIPT]" nombre="TypeScript Inicial" certificado="certificacion_typescript_inicial.jpg"></app-certificaciones>
    </div>
  </section>
</article>