.sky {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.star {
  position: absolute;
  height: 3px;
  background: linear-gradient(60deg, white, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  rotate: -60deg;
}

.animar {
  animation: shooting 4s;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

@media (max-width: 800px) {
  .animar {
    animation: shooting 2s;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
    scale: 0;
  }

  100% {
    transform: translateX(-300vw);
    scale: 1;
  }
}
