article {
  position: relative;
  height: auto;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 1;
  width: 70%;
}

section {
  height: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}

@media (max-width: 1000px) {
  section {
    width: 90%;
    margin-top: 50px;
  }

  article {
    width: 100%;
  }

  .habilidades {
    display: none;
  }
}

@media (min-width: 1000px) {
  article {
    min-width: 999px;
    padding: 50px;
  }
  .habilidades {
    display: block;
  }
}
