article {
  position: relative;
  height: auto;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 1;
}

section {
  height: auto;
  position: relative;
  padding-top: 6%;
  padding-bottom: 10%;
  z-index: 2;
}

@media (max-width: 1000px) {
  section {
    width: 90%;
  }

  article {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .habilidades {
    display: none;
  }
}

@media (min-width: 600px) {
  .habilidades {
    display: block;
  }
}

@media (min-width: 1001px) {
  section {
    width: 90%;
  }

  article {
    width: 70%;
  }
}
