body {
    background: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.info{
    display: flex;
    justify-content: center;
}
.fotoCircular{
    width: 150px;
    height: 150px;
    border-radius: 25%;
    background-image: url("no-foto.jpg") ;
    background-color: black;
    background-size: cover;
}