.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.nav-item {
  margin: 20px;
  font-size: 1.0rem;
  align-items: center;
}
