<div class="navbar">
  <ng-container>
    <h5 (click)="focus('tabindex1')" type="button" class="item-movil item-navbar-local {{tabIndexVisible == 'tabindex1' ? 'scale' : 'noScale'}}"><i class="bi bi-house-door-fill"></i></h5>
    <h5 (click)="focus('tabindex2')" type="button" class="item-movil item-navbar-local {{tabIndexVisible == 'tabindex2' ? 'scale' : 'noScale'}}"><i class="bi bi-file-person-fill"></i></h5>
    <h5 (click)="focus('tabindex3')" type="button" class="item-movil item-navbar-local {{tabIndexVisible == 'tabindex3' ? 'scale' : 'noScale'}}"><i class="bi bi-briefcase-fill"></i></h5>
    <h5 (click)="focus('tabindex4')" type="button" class="item-movil item-navbar-local {{tabIndexVisible == 'tabindex4' ? 'scale' : 'noScale'}}"><i class="bi bi-hammer"></i></h5>
  </ng-container>
  <ng-container>
    <h5 (click)="focus('tabindex1')" type="button" class="item-web item-navbar-local {{tabIndexVisible == 'tabindex1' ? 'scale' : 'noScale'}}">Menu</h5>
    <h5 (click)="focus('tabindex2')" type="button" class="item-web item-navbar-local {{tabIndexVisible == 'tabindex2' ? 'scale' : 'noScale'}}">Sobre Mí</h5>
    <h5 (click)="focus('tabindex3')" type="button" class="item-web item-navbar-local {{tabIndexVisible == 'tabindex3' ? 'scale' : 'noScale'}}">Proyectos</h5>
    <h5 (click)="focus('tabindex4')" type="button" class="item-web item-navbar-local {{tabIndexVisible == 'tabindex4' ? 'scale' : 'noScale'}}">Experiencia</h5>
  </ng-container>
</div>