.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  justify-content: center;
  background-color: #000000;
  z-index: 3;
  transition: 0.5s;
  align-items: baseline;
}

.item-navbar-local {
  color: ghostwhite;
  font-family: "Graduate", serif;
}

.scale {
  transform: scale(1.2);
  color: gray;
}

.noScale {
  transform: scale(1);
  color: ghostwhite;
}

@media (max-width: 600px) {
  .item-navbar-local {
    font-size: 1.5rem;
  }
  .item-web {
    display: none;
  }
  .item-movil {
    display: block;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    bottom: 0%;
  }
}

@media (min-width: 600px) {
  .navbar > ul:hover {
    transform: scale(1.2);
  }

  .navbar {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    gap: 50px;
    align-items: center;
  }

  .item-navbar-local {
    font-size: 0.8rem;
    cursor: grab;
  }

  .item-movil {
    display: none;
  }
  .item-web {
    display: block;
  }

  .heightCompleto {
    display: flex;
  }

  .heightDetalle {
    display: none;
  }
}
