.perfilProfesional > p {
  font-family: "Playfair Display";
  text-align: left;
}

@media (max-width: 400px) {
  .perfilProfesional > p {
    font-size: 1rem;
  }

  h1 {
    text-align: start;
  }
}

p {
  color: ghostwhite;
}

@media (min-width: 401px) {
  .perfilProfesional > p {
    font-size: 1rem;
  }
}
