.perfilProfesional>p {
  font-family: 'Playfair Display';
  text-align: center;
}

@media(max-width:400px) {
  .perfilProfesional>p {
    font-size: 1rem;
    text-align: justify;
  }
}

@media(min-width:401px) {
  .perfilProfesional>p {
    font-size: 1rem;
    text-align: justify;

  }
}

h1 {
  font-family: 'Graduate', serif;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(2px 4px 6px black);
}