<div class="container perfilProfesional">
  <h3>
    Perfil profesional
  </h3>

  <p>
    Soy un programador versátil con la capacidad de adaptarme a diferentes entornos de trabajo y abrazar nuevas tecnologías.
    Mi enfoque principal se centra en la creación y mantenimiento de software de alta calidad y escalable.
    Mi experiencia en colaborar con equipos multidisciplinarios me ha permitido enfrentar desafíos complejos y ofrecer soluciones efectivas.
  </p>
  <p>
    Además de mi pasión por la programación, soy un amante de los gatos, lo que agrega un toque de equilibrio y relajación a mi vida.
    Siempre estoy ansioso por aprender y aplicar las últimas tendencias tecnológicas y seguir creciendo en mi carrera.
    Estoy comprometido con mi desarrollo profesional continuo y emocionado por asumir nuevos desafíos.
  </p>
</div>