.perfilProfesional>p {
  font-family: 'Playfair Display';
  text-align: center;
}

h3 {
  font-family: 'Graduate', serif;
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 5%;
}

@media(max-width:400px) {
  .perfilProfesional>p {
    font-size: 1rem;
    text-align: justify;
  }
}

@media(min-width:401px) {
  .perfilProfesional>p {
    font-size: 1.2rem;
    text-align: justify;

  }
}
