<div class="perfilProfesional ">
  <h1> Sobre mí </h1>

  <p>
    Soy un desarrollador con experiencia en Angular, JavaScript, TypeScript, Node.js, Java y Spring Boot.
    Mi enfoque se centra en la entrega de soluciones escalables y de calidad.
    Mantengo un compromiso constante con el aprendizaje y la aplicación de las últimas herramientas y patrones de diseño.
  </p>

  <p>
    Apasionado por la programación y la tecnología, mi objetivo es innovar y mejorar constantemente en mi carrera profesional.
    Disfruto explorando nuevas tendencias y aplicándolas en mis proyectos.
  </p>

  <p>
    Fuera del trabajo, encuentro equilibrio disfrutando de los videojuegos y compartiendo tiempo con mis adorados gatos.
  </p>
</div>