article {
  position: relative;
  width: 70vw;
  height: auto;
  margin: auto;
  color: ghostwhite;
  justify-content: center;
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.difuminado {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: gray;
  opacity: 28%;
  z-index: 1;
  border-radius: 20px;
}

.certificaciones {
  flex-flow: wrap row;
  width: 100%;
  flex-direction: row;
  display: flex;
  gap: 30px;
  justify-content: center;
}

h1 {
  font-family: "Graduate", serif;
  margin-bottom: 20px;
  font-weight: bold;
  filter: drop-shadow(2px 4px 6px black);
  color: ghostwhite;
}

section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5%;
  z-index: 2;
}

@media (min-width: 1001px) {
  .difuminado {
    box-shadow: 0px 0px 37px 12px white;
  }
  article {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  article {
    width: 100%;
  }
}

.contenedor-contacto {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row;
  flex-direction: column;
}

.iconos-contacto {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5%;
}

.container-text-footer {
  display: flex;
  position: relative;
  justify-content: center;
  flex-flow: row;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  height: 25vh;
  animation: moverArribaAbajo 2.4s ease-in-out infinite;
}

@media (max-width: 600px) {
  .container-text-footer {
    font-size: 0.6rem;
  }
}

@media (min-width: 601px) {
  .container-text-footer {
    font-size: 1rem;
  }
}
