<app-habilidades-endurance direccion="left">
  <app-estrellas id="4" height="100" estrellas=20 maxTamaño="1"></app-estrellas>
  <img src="assets/nave.png" class="planetaCV" alt="">
  <div class="d-grid gap-2 col-4 mx-auto contenedor-cv" target="_blank" href="assets/cv/Luis_Felipe_Fuentes_Diaz_CV.pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
    <p class="mx-auto">Descargar CV</p>
    <button class="btn btn-custom" type="button"><a><i style="font-size: 20px;" class="bi bi-download"></i> </a></button>
  </div>
</app-habilidades-endurance>