.btn-custom {
  border-radius: 25px;
  background-color: ghostwhite;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-cv {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  flex-direction: column;
  animation: moverArribaAbajo 2.4s ease-in-out infinite;
}

.contenedor-principal {
  position: relative;
  width: 100%;
  height: 20vh;
  min-height: 250px;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.btn-custom:hover {
  transform: scale(1.1);
  color: black;
}

.btn-custom:not(:hover) {
  transform: scale(1);
}

.btn-custom:active {
  background-color: ghostwhite;
}

h1 {
  font-size: 20px;
}

@media (max-width: 400px) {
  .contenedor-cv {
    width: 100%;
    height: 100%;
  }
  .btn-custom {
    width: 30%;
    height: 50px;
  }

  .contenedor-principal {
    backdrop-filter: blur(4px);
  }
}

@media (min-width: 401px) {
  .contenedor-cv {
    width: 100%;
  }

  .btn-custom {
    width: 40%;
    height: 40px;
  }
}
