<app-habilidades-endurance direccion="right">
  <img class="gargantua" src="assets/gargantua.png" alt="">
  <div class="endurance-con-habilidades">
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="angular"></app-icono-skill>
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="js"></app-icono-skill>
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="ts"></app-icono-skill>
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="java"></app-icono-skill>
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="spring"></app-icono-skill>
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="express"></app-icono-skill>
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="node"></app-icono-skill>
    <app-icono-skill margin="0" ancho="60" largo="60" nombre="git"></app-icono-skill>
  </div>
</app-habilidades-endurance>