<app-habilidades-endurance>
  <div class="endurance-con-habilidades">
    <app-icono-skill class="gray" (click)="click(null)" margin="0" [data]="habilidades.NULL"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.ANGULAR)" margin="0" [data]="habilidades.ANGULAR"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.JAVASCRIPT)" margin="0" [data]="habilidades.JAVASCRIPT"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.TYPESCRIPT)" margin="0" [data]="habilidades.TYPESCRIPT"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.JAVA)" margin="0" [data]="habilidades.JAVA"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.SPRINGBOOT)" margin="0" [data]="habilidades.SPRINGBOOT"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.EXPRESSJS)" margin="0" [data]="habilidades.EXPRESSJS"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.NODEJS)" margin="0" [data]="habilidades.NODEJS"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.GIT)" margin="0" [data]="habilidades.GIT"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.REACTJS)" margin="0" [data]="habilidades.REACTJS"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.JAVASCRIPT)" margin="0" [data]="habilidades.JAVASCRIPT"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.GITHUB)" margin="0" [data]="habilidades.GITHUB"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.GITLAB)" margin="0" [data]="habilidades.GITLAB"></app-icono-skill>
    <app-icono-skill class="gray" (click)="click(habilidades.AZURE)" margin="0" [data]="habilidades.AZURE"></app-icono-skill>
  </div>
</app-habilidades-endurance>