<div>
  <div class="tab-index" id="tabindex1">
    <app-presentacion></app-presentacion>
  </div>

  <div class="tab-index" id="tabindex2">
    <app-seccion-b-page></app-seccion-b-page>
  </div>

  <div class="tab-index" id="tabindex3">
    <app-seccion-c-page></app-seccion-c-page>
  </div>
  <app-espacio class="tab-index"></app-espacio>

  <app-cv class="solo-web"></app-cv>

  <div class="tab-index" id="tabindex4">
    <app-seccion-d-page></app-seccion-d-page>
  </div>
  <app-espacio class="tab-index"></app-espacio>

  <app-contacto></app-contacto>

  <div class="tab-index" id="tabindex5">
    <app-seccion-e-page></app-seccion-e-page>
  </div>
</div>