<div>
  <div class="tab-index" id="tabindex1">
    <app-presentacion></app-presentacion>
  </div>

  <div class="tab-index" id="tabindex2">
    <app-sobreMi></app-sobreMi>
  </div>

  <div class="tab-index" id="tabindex3">
    <app-proyectos></app-proyectos>
  </div>
  <app-espacio class="tab-index"></app-espacio>

  <app-cv class="solo-web"></app-cv>

  <div class="tab-index" id="tabindex4">
    <app-experiencias></app-experiencias>
  </div>
  <app-espacio class="tab-index"></app-espacio>

  <app-contacto></app-contacto>

  <div class="tab-index" id="tabindex5">
    <app-certificaciones></app-certificaciones>
  </div>
</div>