.contenedor-toda-experiencia {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
}

.contenedor-experiencia {
  height: 250px;
}

@media (max-width: 400px) {
  .contenedor-experiencia {
    width: 80%;
  }
}

@media (min-width: 400px) {
  .contenedor-experiencia {
    width: 350px;
  }
}
