<div id="proyecto{{id}}" class="row contenedor-proyecto">
  <div class="open-modal">
    <img class="expandir-img" id="expandir-img{{id}}" src="/assets/expandir.png" alt="">
  </div>
  <div class="difuminado" id="difuminado{{id}}">
  </div>
  <div id="contenedor-habilidades{{id}}" class="row contenedor-habilidades col-12">
    <app-icono-skill class="col habilidad-proyecto" nombre="angular" ancho="50" largo="50"></app-icono-skill>
    <app-icono-skill class="col habilidad-proyecto" nombre="java" ancho="50" largo="50"></app-icono-skill>
    <app-icono-skill class="col habilidad-proyecto" nombre="js" ancho="50" largo="50"></app-icono-skill>
    <app-icono-skill class="col habilidad-proyecto" nombre="gitHub" ancho="50" largo="50"></app-icono-skill>
  </div>
  <img id="portada{{id}}" class="portada" [src]="'/assets/proyectos/cca-ccafast/'+img+'.png'" alt="">
</div>