@media(max-width:1000px) {
  .center {
    display: flex;
    min-height: 450px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1%;
  }

  .movil-item-carruse-proyectos {
    width: 80%;
    max-width: 500px;
    min-width: 250px;
  }
}