<app-articulo id="1" Width="100" heigth="100">
  <app-estrellas></app-estrellas>
  <app-particle id="1" right="0" top="50" intervalo="3000"></app-particle>
  <app-particle id="2" right="20" intervalo="5000"></app-particle>
  <app-particle id="3" right="50" intervalo="3000"></app-particle>
  <app-particle id="4" right="90" intervalo="4000"></app-particle>
  <app-particle id="5" right="0" top="0" intervalo="3500"></app-particle>

  <app-seccion id="1" width="100">
    <app-info-cabecera class="col info-cabecera"></app-info-cabecera>
  </app-seccion>
</app-articulo>