.container-seccion-a {
  overflow: hidden;
  width: 100vw;
}

.movil-container-seccion-a {
  display: none;
}

.info-cabecera {
  width: 100%;
  height: 100%;
}

@media(max-width: 400px) {
  .movil-container-seccion-a {
    display: block;
    height: 100vh;
  }

  .web-container-seccion-a {
    display: none;
  }

  .info-cabecera {
    top: 25%;
    position: relative;
  }
}

@media(min-width: 401px) {

  .container-seccion-a {
    height: 70vh;
  }

  .web-container-seccion-a {
    display: block;
  }

  .movil-container-seccion-a {
    display: none;
  }

  .info-cabecera {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
