<div class=" container-seccion-a ">
  <div class="row">
  </div>
  <app-estrellas></app-estrellas>
  <app-estrella-fugaz class="fugaz" id="1" right="0" top="50" intervalo="3000" tamaño="30"></app-estrella-fugaz>
  <app-estrella-fugaz class="fugaz" id="2" right="20" intervalo="5000" tamaño="70"></app-estrella-fugaz>
  <app-estrella-fugaz class="fugaz" id="3" right="50" intervalo="3000" tamaño="50"></app-estrella-fugaz>
  <app-estrella-fugaz class="fugaz" id="5" right="0" top="30" intervalo="3500" tamaño="100"></app-estrella-fugaz>
  <app-estrella-fugaz class="fugaz" id="4" right="90" intervalo="4000" tamaño="20"></app-estrella-fugaz>
  <div class="col-12 info-cabecera">
    <app-info-cabecera></app-info-cabecera>
  </div>

</div>
