.container-seccion-a {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.movil-container-seccion-a {
  display: none;
}

.info-cabecera {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media(max-width: 400px) {
  .movil-container-seccion-a {
    display: block;
    height: 100vh;
    background-image: linear-gradient(to top, #5b41b8 -9%, #0a17a7 45%);
  }

  .web-container-seccion-a {
    display: none;
  }
}

@media(min-width: 401px) {
  .container-seccion-a {
    height: 70vh;
    background-image: linear-gradient(to top, #5b41b8 -9%, #0a17a7 45%);
    z-index: -1;
  }

  .web-container-seccion-a {
    display: block;
  }

  .movil-container-seccion-a {
    display: none;
  }

  .info-cabecera {
    top: -5%;
    position: relative;
  }
}
