.tarjeta-contacto{
  position: fixed;
  top: 20vh;
  background-color: white;
  cursor: grab;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 25px ;
  border-bottom-right-radius: 25px ;

}

.tarjeta-contacto:hover{
  height: 400px;
  width: 300px;
  transition: 0.7s;
  overflow: hidden;
}

.tarjeta-contacto:not(:hover){
  width: 50px;
  height: 50px;
  transition: 0.7s;
}

.tarjeta-contacto:hover>.formularioContacto{
  display: block;
}

.tarjeta-contacto:not(:hover)>.formularioContacto{
  display: none;
}

.formularioContacto{
  display: none;
}

.user-tarjeta-Contacto{
  text-align: center;
}

.tarjeta-contacto:hover>.user-tarjeta-Contacto{
  display: none;
}

.tarjeta-contacto:not(:hover)>.user-tarjeta-Contacto{
  display: block;
}
