.contenedor-todo-proyectos {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  gap: 30px;
  justify-content: center;
}

.contenedor-proyectos {
  width: 350px;
  height: 200px;
  z-index: 4;
}