.contenedor-proyecto {
  padding-top: 2%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  perspective: 1000px;
  transition: transform 0.2s;
  z-index: 2;
  position: relative;
}

.animacionFlip:hover .inner {
  transform: rotateY(180deg);
}

h1 {
  font-size: 1rem !important;
  margin-top: 7%;
}

.inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border: 5px solid grey;
  box-sizing: border-box;
  z-index: 3;
  border-radius: 20px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  text-align: center;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  align-items: center;
  border-radius: 15px;
  color: ghostwhite;
  font-size: 0.8rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  max-width: 100%;
  font-size: large;
  margin: auto;
  flex-basis: 70%;
}
.flex-row > .cabecera {
  display: flex;
  width: 50%;
  flex-basis: 50%;
  flex: 1 1;
  justify-content: left;
  font-weight: bold;
  color: black;
}
.flex-row > .contenido {
  display: flex;
  justify-content: end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.back-contenedor {
  z-index: 2;
  position: relative;
  align-items: center;
}

@media (max-width: 400px) {
  .flex-row {
    width: 100%;
    flex-direction: column;
    font-size: 1rem;
  }
  .flex-row > .contenido {
    display: flex;
    justify-content: center;
  }

  .flex-row > .cabecera {
    width: 100%;
    justify-content: center;
  }

  .flex-column {
    gap: 0px;
  }
}
