<div class="container-seccion-a">
  <div class="contenedor-info-seccion-a">
    <ng-container>
      <div class="contenedor-img-seccion-a">
        <img class="anillo-planeta" src="assets/anillo-planeta.png" alt="">
        <img class="fotoPersonal" width="20vh" src="assets/personalFoto.jpg" alt="">
      </div>
    </ng-container>
    <div class="contenedor-info">
      <h1>Luis Fuentes</h1>
      <h2 class="subtituloCabecera">Desarrollador web <strong> FULL STACK </strong></h2>
      <div class="habilidades-seccion-a">
        <app-icono-skill noScale=true [isGray]="true" [isNoGrayHover]="true" margin="3" [data]="Habilidad.ANGULAR"></app-icono-skill>
        <app-icono-skill noScale=true [isGray]="true" [isNoGrayHover]="true" margin="3" [data]="Habilidad.JAVASCRIPT"></app-icono-skill>
        <app-icono-skill noScale=true [isGray]="true" [isNoGrayHover]="true" margin="3" [data]="Habilidad.EXPRESSJS"></app-icono-skill>
        <app-icono-skill noScale=true [isGray]="true" [isNoGrayHover]="true" margin="3" [data]="Habilidad.SPRINGBOOT"></app-icono-skill>
        <app-icono-skill noScale=true [isGray]="true" [isNoGrayHover]="true" margin="3" [data]="Habilidad.GIT"></app-icono-skill>
      </div>
      <a class="btn-custom" href="assets/cv/Luis_Felipe_Fuentes_Diaz_CV.pdf" target="_blank" aria-label="descargar CV" type="button"><a><i style="font-size: 30px; color: white;" class="bi bi-download"></i> </a></a>
    </div>
  </div>
</div>