article {
  position: relative;
  height: auto;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 1;
}

section {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

@media (max-width: 1000px) {
  article {
    width: 100%;
  }
  section {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  article {
    width: 70%;
    min-width: 999px;
    padding: 100px;
  }
}
