<article *ngIf="!isMovil" class="web-articulo-seccion-c  color-secundario-fondo">
  <section class="row web-seccion-seccion-c seccion-seccion-c container ">
    <div class="text-center">
      <h1> Proyectos </h1>
    </div>
    <app-proyectos-recientes></app-proyectos-recientes>
    <app-todo-proyecto></app-todo-proyecto>

    <!-- <div class="row col-12" [style.minWidth.px]="856">
      <div class="col-lg-4" *ngFor="let proyecto of recientes, let i = index">
        <app-proyectos [data]="proyecto" [id]="i" [img]="proyecto.urlBaseImg+proyecto.capturas[0]"></app-proyectos>
      </div>
    </div>-->

  </section>
</article>


<article *ngIf="isMovil" class="col-12 movil-articulo-seccion-c">
  <div class="row" style="justify-content: center; padding: 0%; margin: 0%; width: 100%;">
    <h1 class="col-12" style="width: 80%; max-width: 500px; min-width: 250px;"> Proyectos </h1>
    <ngb-carousel style="padding: 0%; margin: 0%;">
      <ng-template ngbSlide *ngFor="let proyecto of recientes, let i = index">
        <div class="center">
          <app-proyectos class="movil-item-carruse-proyectos" [data]="proyecto" [id]="i" [img]="proyecto.urlBaseImg+proyecto.capturas[0]"></app-proyectos>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</article>