@media(min-width:401px) {
  .web-articulo-seccion-c {
    display: inline-grid;
    justify-content: center;
    padding-bottom: 10%;
    width: 100%;
  }

  .web-seccion-seccion-c {
    position: relative;
    justify-content: center;
    width: 100%;
  }

  .movil-articulo-seccion-c {
    display: none;
  }
}

@media(max-width:400px) {
  .web-articulo-seccion-c {
    display: none;
  }

  .movil-articulo-seccion-c {
    width: 100%;
  }

  .texto-titulo {
    font-size: 1.2rem;
  }

  .center {
    display: flex;
    justify-content: center;
  }
}