.articulo-seccion-c {
  position: relative;
  display: inline-grid;
  height: auto;
  justify-content: center;
  padding-bottom: 5%;
  width: 100%;
}

.seccion-seccion-c {
  position: relative;
  justify-content: center;
  width: 100%;
}
