<article class="web-articulo-seccion-c  color-secundario-fondo">
  <section class="row web-seccion-seccion-c seccion-seccion-c container ">
    <div class="text-center">
      <h1> Proyectos </h1>
    </div>
    <div class="row col-12" [style.minWidth.px]="856">
      <div class="col-lg-4">
        <app-proyectos [data]="proyectoA" id="1" img="/cca/ccafast/ccafast-1" class=""></app-proyectos>
      </div>
      <div class="col-lg-4">
        <app-proyectos [data]="proyectoB" id="2" img="/cencosud/autoservicio-rrhh/autoservicio-1" class=""></app-proyectos>
      </div>
      <div class="col-lg-4">
        <app-proyectos [data]="proyectoC" id="3" img="/grupo-firma/rentacar/rentacar-1" class=""></app-proyectos>
      </div>
    </div>
  </section>
</article>

<article class=" movil-articulo-seccion-c color-secundario-fondo">
  <h1> Proyectos </h1>
  <div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="center">
          <app-proyectos class="movil-item-carruse-proyectos" style="width: 300px;" [data]="proyectoA" id="4" img="/cca/ccafast/ccafast-1"></app-proyectos>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="center">
          <app-proyectos class="center" style="width: 300px;" [data]="proyectoB" id="5" img="/cencosud/autoservicio-rrhh/autoservicio-1"></app-proyectos>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="center">
          <app-proyectos class="center" style="width: 300px;" [data]="proyectoC" id="6" img="/grupo-firma/rentacar/rentacar-1"></app-proyectos>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</article>