@media (max-width: 1000px) {
  .movil-articulo-seccion-b {
    align-items: center;
    width: 100%;
    z-index: 2;
    margin: auto;
    backdrop-filter: blur(5px);
  }

  .web-articulo-seccion-b {
    display: none;
  }

  .seccion-seccion-b {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  .foto personal {
    margin-bottom: 10%;
  }
}

@media (min-width: 1000px) {
  .movil-articulo-seccion-b {
    display: none;
  }

  .web-articulo-seccion-b {
    justify-content: center;
    width: 70%;
    margin: auto;
    display: flex;
    backdrop-filter: blur(5px);
    min-width: 999px;
    padding: 100px;
  }

  .seccion-seccion-b {
    width: 100%;
    z-index: 2;
    color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .perfilProfesionalApp {
    display: flex;
    position: relative;
    max-width: 100%;
    min-width: 50%;
    flex: 0 0;
    flex-basis: 50%;
    align-items: center;
  }
  .foto-personal {
    position: relative;
    display: flex;
    min-width: 30%;
    width: 30%;
    flex: 1 1;
    flex-basis: 50%;
  }
}

.articulo-seccion-b {
  position: relative;
  z-index: 1;
  height: auto;
  display: flex;
}

.seccion-seccion-b {
  align-items: center;
  z-index: 2;
}
