.pTemaOScuro {
  color: lightgrey;
  background-color: #5b41b8;
}

.pTemaOScuro>p {
  color: lightgrey;
}

.pTemaClaro {
  color: black;
  background-color: ghostwhite;
}

.pTemaClaro>p {
  color: black;
}


#tabindex1 {
  z-index: 0;
  position: relative;
}