.infoSuperior {
  text-align: center;
}

.paño {
  height: 100vh;
}

section {
  height: 60vh;
}

article {
  width: 90%;
}

.conjuntoHabilidades {
  rotate: 1.2s;
}

.upDown {
  justify-content: center;
  display: block;
  text-align: center;
}