<app-contacto-tarjeta></app-contacto-tarjeta>

<article class="container-fluid  col-12  paño" role="main">
  <section class="row bg-red" title="información">
    <app-info-cabecera class="col-6 align-self-end"></app-info-cabecera>
    <app-habilidades-cabecera class="col-6 conjuntoHabilidades"></app-habilidades-cabecera>
  </section>
</article>

<article class="container-fluid  col-12  paño" role="main">
  <section class="row bg-red" title="información">
    <app-info-cabecera class="col-6 align-self-end"></app-info-cabecera>
  </section>
</article>