@media(max-width:400px) {
  .movil-articulo-seccion-b {
    display: flex;
    height: 90vh;
    align-items: center;
    padding-top: 10%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
  }

  .web-articulo-seccion-b {
    display: none;
  }

  .seccion-seccion-b {
    width: 90%;
  }

  .foto personal {
    margin-bottom: 10%;
  }
}

@media(min-width:401px) {
  .movil-articulo-seccion-b {
    display: none;
  }

  .web-articulo-seccion-b {

    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .seccion-seccion-b {
    width: 70%;
  }
}

.box-shadow-tema-claro {
  /* box-shadow: 0px -54px 75px 47px ghostwhite; */
}

.box-shadow-tema-oscuro {
  /* box-shadow: 0px -54px 75px 47px #5b41b8; */
}

.articulo-seccion-b {
  position: relative;
  width: 100%;
}

.seccion-seccion-b {
  margin: auto;
}