<article class="web-articulo-seccion-b articulo-seccion-b {{isTemaOscuro ? 'box-shadow-tema-oscuro':'box-shadow-tema-claro'}}">
  <section class="row web-seccion-seccion-b seccion-seccion-b container ">
    <app-perfil-profesional class="perfilProfesionalApp col col-perfil-profesional"></app-perfil-profesional>
  </section>
</article>

<article class="movil-articulo-seccion-b articulo-seccion-b {{isTemaOscuro ? 'box-shadow-tema-oscuro':'box-shadow-tema-claro'}}">
  <section class=" movil-seccion-seccion-b seccion-seccion-b container ">
    <app-perfil-profesional class="perfilProfesionalApp col-perfil-profesional"></app-perfil-profesional>
  </section>
</article>