@media(max-width:1000px) {
  .movil-articulo-seccion-b {
    display: flex;
    height: auto;
    align-items: center;
    padding-top: 10%;
    width: 100%;
    background-color: ghostwhite;
    z-index: 2;
    margin: auto;
  }

  .web-articulo-seccion-b {
    display: none;
  }

  .seccion-seccion-b {
    width: 90%;
    padding-top: 12vh;
    padding-bottom: 5vh;
  }

  .foto personal {
    margin-bottom: 10%;
  }
}

@media(min-width:1001px) {
  .movil-articulo-seccion-b {
    display: none;
  }

  .web-articulo-seccion-b {
    height: 55vh;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: ghostwhite;
    margin: auto;
    min-height: 600px;
  }

  .seccion-seccion-b {
    width: 70%;
  }
}

.box-shadow-tema-claro {
  /* box-shadow: 0px -54px 75px 47px ghostwhite; */
}

.box-shadow-tema-oscuro {
  /* box-shadow: 0px -54px 75px 47px #5b41b8; */
}

.articulo-seccion-b {
  position: relative;
}

.seccion-seccion-b {
  margin: auto;
}
