<article class="web-articulo-seccion-b articulo-seccion-b color-secundario-fondo">
  <section class="row web-seccion-seccion-b seccion-seccion-b container ">
    <app-perfil-profesional class="perfilProfesionalApp col col-perfil-profesional"></app-perfil-profesional>
    <app-habilidades class="conjuntoHabilidades col col-habilidades"></app-habilidades>
  </section>
</article>

<article class="movil-articulo-seccion-b articulo-seccion-b color-secundario-fondo">
  <section class=" movil-seccion-seccion-b seccion-seccion-b container ">
    <app-perfil-profesional class="perfilProfesionalApp col-perfil-profesional"></app-perfil-profesional>
  </section>
  <app-separador></app-separador>
  <section class=" movil-seccion-seccion-b seccion-seccion-b container">
    <app-habilidades class="conjuntoHabilidades col col-habilidades"></app-habilidades>
  </section>
</article>
