@media(max-width:400px) {
  .movil-articulo-seccion-b {
    display: block;
    box-shadow: 0px -26px 25px 13px ghostwhite;
  }

  .web-articulo-seccion-b {
    display: none;
  }
}

@media(min-width:401px) {
  .movil-articulo-seccion-b {
    display: none;
  }

  .web-articulo-seccion-b {
    display: block;
    box-shadow: 0px 0px 74px 102px ghostwhite;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
  }
}

.articulo-seccion-b {
  position: relative;
  width: 100%;
  height: auto;

}

.seccion-seccion-b {
  width: auto;
  margin: auto;
  padding: 5%;
}