<img *ngIf="isMovil" class="naveFront" src="assets/nave.png" alt="">

<article *ngIf="!isMovil" class="web-articulo-seccion-b articulo-seccion-b {{isTemaOscuro ? 'box-shadow-tema-oscuro':'box-shadow-tema-claro'}}">
  <section class="row web-seccion-seccion-b seccion-seccion-b container ">
    <app-perfil-profesional class=" perfilProfesionalApp col col-perfil-profesional"></app-perfil-profesional>
    <app-foto-personal class="col"></app-foto-personal>
  </section>
</article>

<article *ngIf="isMovil" class="movil-articulo-seccion-b articulo-seccion-b {{isTemaOscuro ? 'box-shadow-tema-oscuro':'box-shadow-tema-claro'}}">
  <section class="movil-seccion-seccion-b seccion-seccion-b container">
    <app-foto-personal class="col foto personal"></app-foto-personal>
    <app-perfil-profesional class="perfilProfesionalApp col-perfil-profesional"></app-perfil-profesional>
  </section>
</article>