.contenedor-certificado {
  width: 100%;
  position: relative;
  z-index: 1;
  transition: transform 0.3s;
  filter: drop-shadow(2px 4px 6px black);
}

.certificado-img {
  filter: grayscale(1);
}

.contenedor-certificado:hover {
  transform: scale(1.1);
  z-index: 4;
}

.habilidades {
  display: flex;
  bottom: -10%;
  right: -10%;
  position: absolute;
  z-index: 5;
}
