.nave-separador-izquierdo {
  rotate: 270deg;
}

.nave-separador-derecho {
  rotate: 90deg;
}

.contenedor-separador {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

@media(min-width : 400px) {
  .contenedor-separador-hr {
    width: 30%;
  }

  .nave-separador {
    width: 75px;
    height: 50px;
  }
}

@media(max-width : 400px) {
  .contenedor-separador-hr {
    width: 60%;
  }

  .nave-separador {
    width: 50px;
    height: 30px;
  }
}
