.skskillContenedorill {
  display: block;
  margin-top: 3%;
}

#contenedorSkill {
  width: 100%;
  height: 100%;
}

.h3Titulo {
  font-family: 'Graduate', serif;
  margin-top: 3%;
  margin-bottom: 15px;
  font-size: 2.0rem;
  text-align: center;
}


.habilidades {
  text-align: -webkit-center;
  align-items: center;
  margin-top: 3%;
}

.habilidades>h3 {
  text-align: end;
  padding-right: 5px;
}

.subTitulo {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}