

.habilidades {
  text-align: -webkit-center;
  align-items: center;
  margin-top: 3%;
}

.habilidades>h3 {
  text-align: end;
  padding-right: 5px;
}

.subTitulo {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media(max-width:400px) {
  .movil-habilidades {
    display: block;
  }

  .web-habilidades {
    display: none;
  }

}

@media(min-width:401px) {
  .movil-habilidades {
    display: none;
  }

  .web-habilidades {
    display: block;
  }
}
