<div class="col web-habilidades">
  <h3 class="h3Titulo tituloInvertido">Habilidades</h3>

  <div class="row habilidades">
    <h5 class="mt-1 mb-1 col-4 subTituloInvertido"> BackEnd</h5>
    <div class="row col-8">
      <app-icono-skill class="col-4" tooltip="Spring" capacidad="60" nombre="spring"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="Java" capacidad="60" nombre="java"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="SQL Server" capacidad="50" nombre="sqlServer"></app-icono-skill>
    </div>
  </div>

  <div class="row habilidades">
    <h5 class="mt-1 mb-1 col-4 subTituloInvertido"> FrontEnd</h5>
    <div class="row col-8">
      <app-icono-skill class="col-4" tooltip="Angular" capacidad="70" nombre="angular"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="TypeScript" capacidad="80" nombre="ts"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="JavaScript" capacidad="80" nombre="js"></app-icono-skill>
    </div>
  </div>

  <div class="row habilidades">
    <h5 class="mt-1 mb-1 col-4 subTituloInvertido">Versiones</h5>
    <div class="row col-8">
      <app-icono-skill class="col-4" tooltip="Git" capacidad="70" nombre="git"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="GitHub" capacidad="80" nombre="gitHub"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="Azure DevOps" capacidad="80" nombre="azure"></app-icono-skill>
    </div>
  </div>
</div>


<div class="col movil-habilidades">
  <h3 class="h3Titulo tituloInvertido"> Habilidades </h3>

  <div class="row habilidades">
    <div class="row col-12">
      <app-icono-skill class="col-4" tooltip="Spring" capacidad="60" nombre="spring"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="Java" capacidad="60" nombre="java"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="SQL Server" capacidad="50" nombre="sqlServer"></app-icono-skill>
    </div>
  </div>

  <div class="row habilidades">
    <div class="row col-12">
      <app-icono-skill class="col-4" tooltip="Angular" capacidad="70" nombre="angular"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="TypeScript" capacidad="80" nombre="ts"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="JavaScript" capacidad="80" nombre="js"></app-icono-skill>
    </div>
  </div>

  <div class="row habilidades">
    <div class="row col-12">
      <app-icono-skill class="col-4" tooltip="Git" capacidad="70" nombre="git"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="GitHub" capacidad="80" nombre="gitHub"></app-icono-skill>
      <app-icono-skill class="col-4" tooltip="Azure DevOps" capacidad="80" nombre="azure"></app-icono-skill>
    </div>
  </div>
</div>
