<div class="color-secundario-fondo contenedor-modal">
  <div class="col-12 contenedor-superior-modal">
    <h3 class="subTituloNormal text-center"> {{data.nombre}} </h3>
    <div class="row col-12">
      <div class="col-5">
        <div class="row">
          <div class="col">
            <p>Consultora:</p>
          </div>
          <div class="col">
            <strong>{{data.consultora}}</strong>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>Empresa:</p>
          </div>
          <div class="col">
            <strong>{{data.empresa}}</strong>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>Tecnologías Utilizadas: </p>
          </div>
          <div class="col ">
            <app-icono-skill class="iconos-modal" *ngFor="let e of tecnologias" noScale=true nombre="{{e}}" ancho="40" largo="40"></app-icono-skill>
          </div>
        </div>
      </div>

      <div class=" col-6 info-proyecto">
        <p>{{data.informacion}}</p>
      </div>
    </div>
  </div>

  <div class="col-12 contenedor-inferior-modal">
    <ngb-carousel>
      <ng-template *ngFor="let c of data.capturas" ngbSlide>
        <img class="custom-carousel" src="/assets/proyectos/{{data.urlBaseImg}}{{c}}.png" width="100%" alt="Imagen 1">
      </ng-template>
    </ngb-carousel>
  </div>

</div>