<!--<div class="color-secundario-fondo contenedor-modal">
  <div class="col-12 contenedor-superior-modal">
    <h3 class="col subTituloNormal text-center"> {{data.nombre}} </h3>
    <div class="row col-12">
      <div class="col">
        <div class="row mt-auto">
          <div class="col">
            <strong>Consultora:</strong>
          </div>
          <div class="col">
            <p>{{data.consultora}}</p>
          </div>
          <div class="col">
            <strong> Empresa:</strong>
          </div>
          <p class="col grab" (click)="redirigirAExterno()">
            <u style="color: blue;">{{data.empresa}}</u>
          </p>
        </div>
        <div class="row mt-auto">
          <div class="col-4">
            <strong>Tecnologías Utilizadas:</strong>
          </div>
          <div class="col col-icono-modal">
            <app-icono-skill class="iconos-modal" borde=true *ngFor="let tg of tecnologias; let i = index" id="modalIcono{{i}}" noScale=true [data]="tg"></app-icono-skill>
          </div>
        </div>
      </div>
    </div>

    <div class="col info-proyecto mt-3">
      <p>{{data.informacion}}</p>
    </div>
  </div>

  <div class="col-12 contenedor-inferior-modal">
    <ngb-carousel>
      <ng-template *ngFor="let c of data.capturas" ngbSlide>
        <img class="custom-carousel" loading="lazy" src="{{data.urlBaseImg+c}}.png" width="100%" alt="Imagen 1">
      </ng-template>
    </ngb-carousel>
  </div>
</div>-->
