.downUpSection:hover {
  transform: scale(1.4);
  font-weight: bold;
}

.section-downUp {
  justify-content: center;
  position: fixed;
  display: flex;
  text-align: center;
  top: 85vh;
}

.downUp-img {
  font-size: 40px;
}

.downUpSection {
  margin-top: -10px;
  text-align: center;

}

.center-icons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}