.foto-personal {
  border-radius: 40%;
  border: 3px solid white;
}

h1 {
  font-family: 'Graduate', serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3.5rem;

}

h1,
h3 {
  text-align: center;
}

.fotoPersonal {
  width: 25vh;
  border-radius: 50%;
  border: 3px solid white;

}

.containerFoto {
  text-align: center;
}