<div class="contenedor-proyecto animacionFlip container">
  <div class="inner">
    <div class="front">
      <img width="90%" loading="lazy" src="{{data.nombreLogo}}.png" alt="">
    </div>
    <div class="back">
      <app-panel-difuminado opacity="80" [isBordeAbajo]="false" [isBordeWeb]="false" [isBordeSuperior]="false"></app-panel-difuminado>
      <div class="back-contenedor">
        <h1>{{data.nombre}}</h1>
        <div class="flex-column">
          <div class="flex-row">
            <div class="contenido">
              <label>
                {{data.cargo }}
              </label>
            </div>
          </div>
          <div class="flex-row">
            <div class="contenido">
              <label>
                {{data.duracion| mesesAFecha }}
              </label>
            </div>
          </div>
          <div class="flex-row">
            <div class="contenido">
              <label>
                {{data.inicio | fecha }}
              </label>
            </div>
            -
            <div class="contenido">
              <label>
                {{data.fin | fecha }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>