<div class="contenedor-principal">
  <app-panel-difuminado [isBordeAbajo]="false" [isBordeSuperior]="false" [isNoMostrarWeb]="true"></app-panel-difuminado>
  <div class="container-text">
    <div class="contenedor-contacto">
      <h1>Contacto</h1>
      <div class="iconos-contacto">
        <a [href]="wbURLEnum.CONTACTO_INSTAGRAM" target="_blank"><img width="80px" class="filtro-gray" src="assets/instagram.png" alt="Gmail"> </a>
        <a [href]="wbURLEnum.CONTACTO_LINKEDIN" target="_blank"> <img width="80px" class="filtro-gray" src="assets/linkedin.png" alt="LinkedIn"> </a>
      </div>
    </div>
  </div>
</div>