<article>
  <app-panel-difuminado [isBordeAbajo]="false" [isBordeSuperior]="false" [isNoMostrarWeb]="true"></app-panel-difuminado>
  <section>
    <div class="div-contenedor">
      <h1>Contacto</h1>
      <div class="flex-row">
        <a [href]="wbURLEnum.CONTACTO_INSTAGRAM" target="_blank"><img width="80px" loading="lazy" src="assets/instagram.png" alt="Gmail"> </a>
        <a [href]="wbURLEnum.CONTACTO_LINKEDIN" target="_blank"> <img width="80px" loading="lazy" src="assets/linkedin.png" alt="LinkedIn"> </a>
      </div>
    </div>
  </section>
</article>


<div class="contacto-web">
  <a class="itemContacto" [href]="wbURLEnum.CONTACTO_INSTAGRAM" target="_blank"><img width="50px" src="assets/instagram.png" alt="Gmail"> </a>
  <a class="itemContacto" [href]="wbURLEnum.CONTACTO_LINKEDIN" target="_blank"> <img width="50px" src="assets/linkedin.png" alt="LinkedIn"> </a>
</div>