#estrella {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: 500px;
}

@media(min-width: 401px) {
  #estrella {
    height: 70%;
  }
}

@media(max-width: 400px) {
  #estrella {
    height: 100vh;
  }
}

@keyframes escalar1 {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
    /* Escala al 120% del tamaño original */
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes escalar2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    /* Escala al 120% del tamaño original */
  }

  100% {
    transform: scale(1);
  }
}

@keyframes escalar3 {
  0% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.1);
    /* Escala al 120% del tamaño original */
  }

  100% {
    transform: scale(0.3);
  }
}

@keyframes escala4 {
  0% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1.8);
    /* Escala al 120% del tamaño original */
  }

  100% {
    transform: scale(1.5);
  }
}

.escalar1 {
  animation: escalar1 0.9s ease-in-out infinite;
}

.escalar2 {
  animation: escalar2 0.9s ease-in-out infinite;
}

.escalar3 {
  animation: escalar3 1s ease-in-out infinite;
}

.escalar4 {
  animation: escalar4 1.1s ease-in-out infinite;
}

.escalar5 {
  animation: escalar1 1.2s ease-in-out infinite;
}

.escalar6 {
  animation: escalar2 1.3s ease-in-out infinite;
}

.escalar7 {
  animation: escalar3 1.4s ease-in-out infinite;
}

.escalar8 {
  animation: escalar4 1.5s ease-in-out infinite;
}

.escalar9 {
  animation: escalar3 1.6s ease-in-out infinite;
}

.escalar10 {
  animation: escalar4 1.5s ease-in-out infinite;
}

.animacionPaused {
  animation-play-state: paused;
}

.animacionStart {
  animation-play-state: running;
}