@media (max-width: 1000px) {
  .borde-abajo {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .borde-arriba {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .no-mostrar-movil {
    display: none;
  }
}

@media (min-width: 1001px) {
  .borde-web {
    border-radius: 20px;
  }

  .no-mostrar-web {
    display: none;
  }
  .panel-difuminado {
    box-shadow: 0px 0px 37px 12px white;
  }
}

.panel-difuminado {
  height: 100%;
  position: absolute;
  background-color: gray;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
}
