.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.skill:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 1000;
  cursor: grab;
}

.noGrayHover:hover {
  filter: grayscale(0) !important;
}
