.grab:hover {
  cursor: grab;
}

body {
  background-image: linear-gradient(to top, #b47820 0%, #5b41b8 60%, #0a17a7 90%);
  background-repeat: repeat;
  overflow-x: hidden;
  width: 100vw;
}

.paño {
  height: 100vh;
}

.titulo {
  color: lightgrey;
}

.subTituloNormal {
  color: #656faf;
  font-family: 'Graduate', serif;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.color-secundario-fondo {
  background-color: ghostwhite;
}

.tituloInvertido {
  color: black;
  font-family: 'Graduate', serif;
  margin-bottom: 5%;
  font-size: 2.0rem;
  text-align: center;
}

.separator {
  border: none;
  border-top: 2px solid #000;
  width: 80%;
  margin: 20px auto;
}
