.grab:hover {
  cursor: grab;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  overflow-x: hidden;
}

.paño {
  height: 100vh;
}

.titulo {
  color: #656faf;
}

.subTituloNormal {
  background-color: linear-gradient(60deg, #242629 0%, #485563 100%);
}

.color-secundario-fondo {
  background-color: #656faf;
}

.tituloInvertido {
  color: black;
}

.separator {
  border: none;
  border-top: 2px solid #000;
  /* Línea superior delgada */
  width: 80%;
  /* Ancho del separador en el centro */
  margin: 20px auto;
  /* Margen para centrar el separador */
}
