body {
  background-repeat: repeat;
  max-width: 100%;
}

.grab:hover {
  cursor: grab;
}

.titulo {
  color: lightgrey;
}

.subTitulo-tema-iscuro {
  color: lightgrey;
  font-family: 'Graduate', serif;
}

.subTitulo-tema-claro {
  color: black;
  font-family: 'Graduate', serif;
}

@media(max-width: 400px) {
  .subTituloNormal {
    font-size: 1rem;
  }
}

@media(min-width: 401px) {
  .subTituloNormal {
    font-size: 1.2rem;
  }
}

.color-secundario-fondo-claro {
  background-color: ghostwhite;
}

.color-secundario-fondo-iscuro {
  background-color: #5b41b8;
}