

.estrellaFugaz {
  width: 70px;
  height: 70px;
  rotate: 375deg;

  background-image: url("/src/assets/angular.png");
  position: absolute;
  overflow: hidden;
}

.animacionStart1{
  animation: estrellaFugaz1 1s ease-in-out 1;
}
.animacionStart2{
  animation: estrellaFugaz1 0.8s ease-in-out 1;
}
.animacionStart3{
  animation: estrellaFugaz1 1.5s ease-in-out 1;
}
.animacionStart4{
  animation: estrellaFugaz1 1.3s ease-in-out 1;
}
.animacionStart5{
  animation: estrellaFugaz1 1.6s ease-in-out 1;
}

.mostrar{
  display: block;
}

.hidden{
  display: none;
}


.contEstrellaFugaz{
  position: absolute;
  width: 100%;
  z-index: -1;
}


@keyframes estrellaFugaz1 {
  0% {
      transform: translateX(0,0);
      opacity: 40;
  }

  100% {
      transform: translate(-100vw, 100vh);
      opacity: 0;
  }
}



