<div class="container">
  <div class="row en-linea">
    <div class="col-sm-auto">
      <div class="contenedor-img-seccion-a">
        <img class="anillo-planeta" src="/assets/anillo-planeta.png" alt="">
        <img class="fotoPersonal" src="{{urlFotoPersonal}}" alt="">
      </div>

    </div>
    <div class="contenedor-info-seccion-a col-sm-auto justify-content-start">
      <h1 class="titulo">Luis Fuentes </h1>
      <h3 class="subTituloNormal">Desarrollador web <strong> FULL STACK </strong></h3>
      <div class="habilidades-seccion-a">
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="Spring" ancho="40" nombre="spring"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="Java" ancho="40" nombre="java"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="SQL Server" ancho="40" nombre="sqlServer"></app-icono-skill>
      </div>
    </div>
  </div>
</div>
