h1 {
  font-family: 'Graduate', serif;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 3.5rem;
  font-weight: bold;
}

@media(max-width: 400px) {
  h1 {
    font-family: 'Graduate', serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .textoCabecera {
    margin-top: 25px;
  }

  .textoCabecera>.h3HextoCabecera {
    font-size: 1.0rem;
  }

  .en-linea {
    justify-content: center;
    text-align: center;
  }
}

h1 {
  text-align: center;
}

.fotoPersonal {
  width: 20vh;
  border-radius: 50%;
  border: 3px solid transparent;
}

.centrado {
  display: flex;
  text-align: center;
  align-items: center;
}

.en-linea {
  align-items: center;
  justify-content: center;
  text-align: center;
}
