<div class="container">
  <div class="row  en-linea">
    <div class="col-sm-auto">
      <div class="contenedor-img-seccion-a">
        <img class="fotoPersonal" src="assets/inter.png">
      </div>
    </div>
    <div class="contenedor-info-seccion-a col-sm-auto justify-content-start">
      <h1 class="titulo">Luis Fuentes</h1>
      <h3 class="subtituloCabecera">Desarrollador web <strong> FULL STACK </strong></h3>
      <div class="habilidades-seccion-a">
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="Angular" ancho="40" nombre="angular"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="JavaScript" ancho="40" nombre="js"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="Express JS" ancho="40" nombre="express"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="Spring Boot" ancho="40" nombre="spring"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" tooltip="Git" ancho="40" nombre="git"></app-icono-skill>
      </div>
    </div>
  </div>
</div>