<div class="container">
  <div class="row  en-linea">
    <ng-container class="col-sm-auto">
      <div class="contenedor-img-seccion-a">
        <img class="anillo-planeta" src="assets/anillo-planeta.png" alt="">
        <img class="fotoPersonal" src="assets/personalFoto.jpg" alt="">
      </div>
    </ng-container>
    <div class="contenedor-info-seccion-a col-sm-auto justify-content-start">
      <h1 class="titulo">Luis Fuentes</h1>
      <h2 class="subtituloCabecera">Desarrollador web <strong> FULL STACK </strong></h2>
      <div class="habilidades-seccion-a">
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" [data]="Habilidad.ANGULAR"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" [data]="Habilidad.JAVASCRIPT"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" [data]="Habilidad.EXPRESSJS"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" [data]="Habilidad.SPRINGBOOT"></app-icono-skill>
        <app-icono-skill noScale=true class="m-1 habilidad-cabecera" [data]="Habilidad.GIT"></app-icono-skill>
      </div>
    </div>
  </div>
</div>
