.foto-personal {
  border-radius: 40%;
  border: 3px solid white;
}

h1 {
  font-family: 'Graduate', serif;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 3.5rem;
  font-weight: bold;
}

h1,
h3 {
  text-align: center;
}

.fotoPersonal {
  width: 25vh;
  border-radius: 50%;
  border: 3px solid white;

}

.containerFoto {
  text-align: center;
}

.info-cabecera-div {
  margin-top: 15vh;
}