.footer {
  width: 100%;
  position: relative;
  height: 15vh;
  background-color: #091597;
}

.box-shadow-tema-claro {
  box-shadow: 0px -27px 43px 34px #091597;
  ;
}

.box-shadow-tema-oscuro {
  box-shadow: 0px -27px 43px 34px #091597;
  ;
}