.footer {
  width: 100%;
  position: relative;
  height: 15vh;
}

.box-shadow-tema-claro {
  background-image: linear-gradient(to bottom, ghostwhite 3%, #0a17a7 98%);
}

.box-shadow-tema-oscuro {
  background-image: linear-gradient(to bottom, #5B41B9 0%, #0a17a7 91%);
}