<footer>
  <app-estrellas id="5" height="100" estrellas=20 maxTamaño="1"></app-estrellas>

  <app-habilidades-endurance direccion="left">
    <img class="planeta" src="assets/jupiter.png" alt="">
    <div class="row container-text-footer">
      <div class="row">
        <p class="text-center texto-footer"> Proyecto realizado con Angular <i class="bi bi-heart-fill corazon"></i> </p>
      </div>
      <div class="row col-12 text-center">
        <span><i class=" bi bi-instagram"></i> <i class=" bi bi-linkedin"> </i></span>

      </div>
    </div>
  </app-habilidades-endurance>
</footer>