footer {
  width: 100%;
  position: relative;
  height: 15vh;
  min-width: 400px;
  background-color: #091597;
}

.box-shadow-tema-claro {
  box-shadow: 0px 0px 22px 36px #081494;
  ;
}

.box-shadow-tema-oscuro {
  box-shadow: 0px 0px 22px 36px #081494;
  ;
}